* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: black;
}

h1 {
  font-size: 3rem;
}

.app {
  font-family: Inter, sans-serif, Arial, Helvetica;
  background-color: black;
  width: max(450px, 100%);
  display: flex;
  flex-direction: column;
}
/*Hero Start*/
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-image: url(./assets/hero-background.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: max(450px, 100%);
  height: 45rem;
  padding: 50px;
}

.hero h1 {
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.5);
}
/*This is a fix for mobile, to make my name look better when Donahue overflows to the next line*/
.hero-text-container h1 {
  line-height: 60px;
}

.alex {
  color: rgba(243, 87, 100, 255);
  font-family: Pacifico, Inter, sans-serif, Arial, Helvetica;
}

.emphasis {
  color: rgba(243, 87, 100, 255);
}

.react {
  font-weight: 600;
}
/*Hero End*/

/*Skills Start*/
.skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 100%;
  padding-top: 20px;
  height: 20rem;
  background-image: url(assets/background1.png);
}

.skills h1 {
  margin-bottom: 20px;
}

.skill-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
  gap: 10px;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-item img {
  height: 100px;
  margin-bottom: 10px;
}
/*Skills End*/

/*About Start*/
.about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: max(450px, 100%);
  height: 20rem;
  background-image: url(assets/background2.png);
}
/*About End*/

/*Project Start*/
.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: max(450px, 100%);
  height: 20rem;
  background-image: url(assets/background3.png);
}
/*Project End*/
/*Footer Start*/
footer {
  display: flex;
  justify-content: center;
}
/*Footer End*/
/*Media Queries*/
@media screen and (max-width: 525px) {
  /*Adjusts the hero box for smaller screens*/
  .hero-text-container {
    width: 90%;
    height: 95%;
  }
}

@media screen and (max-width: 700px) {
  /*Adjusts tech skills contaienr so that it grows to allow for the overflowing icons*/
  .skills {
    height: 25rem;
  }
}
